/target
.vscode/
.direnv/
hello*
tmp.md
ecsh-*.tar.gz
ecsh-*.zip
cshell/ecsh
cshell/out.txt
packages/tree-sitter-ecscript/node_modules/
packages/vscode-ecscript/node_modules/
packages/vscode-ecscript/dist/
packages/vscode-ecscript/assets/
packages/vscode-ecscript/vscode-ecscript-0.1.0.vsix